body {
    font-family: 'Arial', sans-serif;
    background-color: aliceblue;
    color: rgb(7, 7, 7);
    line-height: 1.5;
}

h1 { font-size: 2.3rem; font-weight: 550;}
h2 { font-size: 2rem;}
p { font-size: 1.2rem; letter-spacing: 0.5px;}

nav {
    display: flex;
    justify-content: none;
    align-items: top right;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

button { 
    background-color: silver;
    border: none;
    padding:  2px 2px 4px rgba(0, 0, 0, 0.5);

}

@media screen {
    max-width: .container {
        max-width: 100%;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin-bottom: 10px;
    }
    
}

<img src="small. jpg" alt="Small Image">